<!-- highlight: sanitize() -->
<!-- see http://api.rubyonrails.org/classes/ActionView/Helpers/SanitizeHelper.html#method-i-sanitize -->

<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= sanitize @document.content, :tags => %w(p i b s u ul ol li) %>
</p>

<p>
  [<%= link_to "pdf", document_path(@document, :format => :pdf) %>]
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>

<% doc = Nokogiri::HTML(@document.content) %>
<% doc.xpath('//ul/li').each do |list_item| %>
  <%= list_item %>
<% end %>